extends layout

block content
	.container
		.jumbotron
			h1.display-4 MY KANBAN BOARD
			p.lead Welcome:) This is my Kanban Board which let me do my job better!
			hr.my-4
			p If you want to create new task, just push this button!
			.form-group
				form(action='/createTask', method='post')
					input.form-control(type='text', name='contents')
					//- TODO: add padding between them //
					button.btn.btn-success(type='submit') Add Task

		.row
			.col-md-4
				ul.list-group
					li.list-group-item.active TO-DO
						span.badge= todoTasks.length
					each val in todoTasks
						.input-group
							li.list-group-item= val
							.input-group-btn
								form(action='/updateTask', method='post')
									input(type='hidden', name='status', value='In-Progress')
									//- TODO: adjust btn size //
									button.btn.btn-info(type='submit', name='contents', value= val) <strong>></strong>
									
			.col-md-4
				ul.list-group
					li.list-group-item.active In-Progress
						span.badge= inProgressTasks.length
					each val in inProgressTasks
						.input-group
							li.list-group-item= val
							.input-group-btn
								form(action='/updateTask', method='post')
									input(type='hidden', name='status', value='Done')
									//- TODO: adjust btn size //
									button.btn.btn-info(type='submit', name='contents', value= val) <strong>></strong>

			.col-md-4
				ul.list-group
					li.list-group-item.active Done
						span.badge= doneTasks.length
					each val in doneTasks
						.input-group
							li.list-group-item= val
							.input-group-btn
								form(action='/removeTask', method='post')
									//- TODO: adjust btn size //
									button.btn.btn-danger(type='submit', name='contents', value= val) D


